<%= form_for(model) do |f| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :table %>
    <%= f.text_field :table %>
  </div>

  <div class="field">
    <%= f.label :tab %>
    <%= f.text_field :tab %>
  </div>

  <div class="field">
    <%= f.label :alt %>
    <%= f.text_field :alt %>
  </div>

  <div class="field">
    <%= f.label :data %>
    <%= f.text_area :data %>
  </div>

  <div class="field">
    <%= f.label :parent_id %>
    <%= f.text_field :parent_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
