<!DOCTYPE html>
<html>
<head>
	<title>Server</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<main id="main-<%= controller_name %>-<%= action_name %>">
		<%= yield %>
	</main>
    
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
